@font-face {
    font-family: 'm5x7';  /* Choose a name for your custom font */
    src: url('./src/assets/fonts/m5x7.ttf') format('truetype');  /* Replace with your font file path or URL */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layers { 
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: #101820;
}